Source: ros-kinetic-thormang3-description
Section: misc
Priority: extra
Maintainer: pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Homepage: http://wiki.ros.org/thormang3_description
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Description: The thormang3_description package
