Source: ros-kinetic-thormang3-description
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Homepage: http://wiki.ros.org/thormang3_description
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-joint-state-publisher, ros-kinetic-robot-state-publisher, ros-kinetic-roscpp, ros-kinetic-rviz, ros-kinetic-sensor-msgs, ros-kinetic-urg-node
Description: 3D models of the Thormang3 for simulation and visualization
